<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <div class="logo_name">Y</div>
        </div>
        <%# <i class='bx bx-menu' id="btn"></i> %>
    </div>
    <ul class="nav_list">
        <li>
            
            <a href="/" class="home">
                <i class='bx bx-home'></i>
                <span class="links_name">Home</span>
            </a>
            <%# <span class="tooltip"></span> %>

        </li>
        <li>
            <a href="/about">
                <i class='bx bx-user'></i>
                <span class="links_name">About Us</span>
            </a>
            <%# <span class="tooltip"></span> %>
            
        </li>
        <li>
            <a href="/contact">
                <i class='bx bx-help-circle' ></i>
                <span class="links_name">Contact Us</span>
            </a>
            <%# <span class="tooltip"></span> %>
        </li>
        
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <div class="name_username">
                    <div class="name">Carolina</div>
                    <div class="username">@caroohong</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </div>
    </div>
</div>