<div class="about">
    <div class="container">
        <h1 class="fs-1 border-bottom border-secondary py-3">About Us</h1>

        <p class="mt-3 text-white/50 font-bold text-2xl p-1">
        We are building the world's most trusted public town square, 
        and we pride ourselves on our commitment to protecting free 
        speech within the boundaries of law.
        </p>
        <p class="mt-3 text-white/50 font-bold text-2xl p-1">
            Beyond that, we aim to increase unregretted user minutes on our platform, 
            and make it the best place on the internet for creators to share content 
            and make money.
        </p>
        <p class="mt-3 text-white/50 font-bold text-2xl p-1">
            Join us to have real impact on what is bound to evolve into the ultimate 
            everything app.
        </p>
        <p class="mt-3 text-white/50 font-bold text-2xl p-1">
            Our commitment to serve the public conversation is also a 
            commitment to protect the information you share with us and
            to provide meaningful privacy controls. Transparency matters 
            to us, so we want you to know what data we collect, how we use it, 
            when we share it, and what we do to protect it.
        </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>