<div class="container mt-4">
    <h1 class="fs-1 border-bottom border-secondary py-3">Home</h1>
    <p class="fs-5">What's happening?</p> 

    <% if @user%>
        <div class="text-white-50 fw-light">
            Logged in as <%= @user.email%>
        </div>
        <%=button_to "Log out", logout_path, method: :delete%>
    <%end%>

    
</div>



