<div class="container mt-4">
    <h1 class="fs-1 border-bottom border-secondary py-3">Home</h1>
    <div class="tweets py-1">
        <div class="my-2 card bg-transparent text-white" style="border:1px solid gray;">
            <div class="card-body ">
                <div style="white-space: nowrap; clear: both; display: flex;overflow: hidden;">
                    <h5 class="fs-5 align-baseline card-title">LondonBaking</h5>
                    <p class="align-baseline mx-2 text-white-50"> @lxdxn Mar 15 </p>
                </div>
                <p class="card-text">Day 5 of eating pasta!!</p>
            </div>
        </div>

        <div class="my-2 card bg-transparent text-white" style="border:1px solid gray;">
            <div class="card-body ">
                <div style="white-space: nowrap; clear: both; display: flex;overflow: hidden;">
                    <h5 class="fs-5 align-baseline card-title">KarlaYT</h5>
                    <p class="align-baseline mx-2 text-white-50"> @the_karla12 Feb 27 </p>
                </div>
                <p class="card-text">Live right now on my youtube!</p>
            </div>
        </div>

        <div class="my-2 card bg-transparent text-white" style="border:1px solid gray;">
            <div class="card-body ">
                <div style="white-space: nowrap; clear: both; display: flex;overflow: hidden;">
                    <h5 class="fs-5 align-baseline card-title">FredMcAllister</h5>
                    <p class="align-baseline mx-2 text-white-50"> @fredmcallister Feb 21 </p>
                </div>
                <p class="card-text">NEVER BACK DOWN, NEVER WHAT?</p>
            </div>
        </div>

        <div class="my-2 card bg-transparent text-white" style="border:1px solid gray;">
            <div class="card-body ">
                <div style="white-space: nowrap; clear: both; display: flex;overflow: hidden;">
                    <h5 class="fs-5 align-baseline card-title">harleyxoxo</h5>
                    <p class="align-baseline mx-2 text-white-50"> @hxrley11 Jan 26 </p>
                </div>
                <p class="card-text">What SIM should I do on today's video?</p>
            </div>
        </div>

        <div class="my-2 card bg-transparent text-white" style="border:1px solid gray;">
            <div class="card-body ">
                <div style="white-space: nowrap; clear: both; display: flex;overflow: hidden;">
                    <h5 class="fs-5 align-baseline card-title">Evelyn</h5>
                    <p class="align-baseline mx-2 text-white-50"> @hjev_24 Jan 11 </p>
                </div>
                <p class="card-text">NEW MERCH DROPPED!!</p>
            </div>
        </div>
    </div>
</div>



<%# <p class="fixed-bottom">hi</p> %>
<%# <footer>
    <div class="container">
    <div class="row">
        <div class="col-4">hi</div>
        <div class="col-4">hi</div>
        <div class="col-4">hi</div>
    </div>
</div>
</footer> %>
