
<footer class=" bd-footer py-4 py-md-5 ">
  <div class="bg-black container py-4 py-md-5 px-4 px-md-3 text-body-secondary" style="--bs-bg-opacity: .4;">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <ul class="list-unstyled small">
          <li class="text-center mb-2 text-white ">Y- &copy;2024</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3 text-center">
        <ul class="list-unstyled px-4" style="justify-content:center">
          <li class="mb-2 link-offset-2" ><a class="link-light link-underline-opacity-0" href="/contact">Contact Us</a></li>
          <li class="mb-2 link-offset-2"><a class="link-light link-underline-opacity-0" href="#">Terms of Use</a></li>
          <li class="mb-2 link-offset-2"><a class="link-light link-underline-opacity-0" href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>